<ion-header>
  <!--<ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Shorten Ur URL</span></ion-title>
  </ion-toolbar>-->
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <div id="waveA" class="wavy">
        <ion-card-title>
          <span translate>Welcome to Shorten Ur URL!</span>
        </ion-card-title>
        <p transalate>The website in which you can easily shorten your URLs! And free!</p>
      </div>
      <div id="waveB">
        <ion-card>
          <ion-card-content>
            <div class="input-group">
              <ion-item>
                <ion-input
                  placeholder="Enter the URL you want to shorten"
                  type="text"
                  [(ngModel)]="inputURL"
                ></ion-input>
                <ion-button id="shorten_btn" fill="solid" color="tertiary" (click)="shortURL(inputURL)">
                  <ion-icon name="cut-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
        <!--<p>
        <app-loader [isLoading]="isLoading"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </p>-->
      </div>
      <div id="waveA">
        <p>Calidad de Proyectos Software, 2021/22</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let card of URLCards.reverse()">
    <ion-card-header>
      <ion-title
        >URL shortened: <a href="{{ card.short_url }}">{{ card.short_url }}</a></ion-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-item> <b>Original URL: </b> {{ card.long_url }} </ion-item>
      <ion-item> <b>Created at: </b> {{ card.created_at * 1000 | date: 'dd/MM/yyyy, hh:mm' }} </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
